h3{
    color:blue
}
ul li {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid blue;
  }  
  ul li:hover {
    background-color: rgb(230, 153, 204);
  }
  .active {
  background-color: rgb(94, 187, 211) !important;
}