<p>retailerlogin works!</p>

<div>
    <form [formGroup]="retailerLoginForm" (ngSubmit)="onSubmit()">
      <label for="email">Retailer Email: </label>
      <input id="email" type="text" formControlName="email" /> <br />

      <label for="password">Retailer Password: </label>
      <input id="password" type="text" formControlName="password" /> <br />


      <button type="submit">Login</button> <br />

    </form>
  </div>
  <div class="row">
    <div class="col">
        <span> Return to home -></span><a routerLink="/home">Home </a>
    </div>
  </div>
