<!-- <app-header></app-header>
<app-footer></app-footer> -->
<ul>
    <li routerLink="/products">getallproducts</li>
    <li routerLink="/productsbyname">findbyname</li>
</ul>
<app-showallproducts></app-showallproducts>
<app-productbyname></app-productbyname>

<app-show-all-category></app-show-all-category>

<app-user-login></app-user-login>
<app-user-register></app-user-register>

<app-retailerlogin></app-retailerlogin>

<br><br><br>

<app-retailer></app-retailer>

<app-admin-login></app-admin-login>
<br>
<app-add-retailer></app-add-retailer>

<br><br><br>

<app-add-product></app-add-product>
